global:
  resolve_timeout: 5m
{% if alerting_email_enabled | bool %}
  smtp_smarthost: '{{ alerting_smtp_host }}:{{ alerting_smtp_port }}'
  smtp_from: '{{ alerting_smtp_from }}'
  smtp_require_tls: {{ alerting_smtp_require_tls | lower }}
  smtp_auth_username: '{{ alerting_smtp_username }}'
  smtp_auth_password: '{{ alerting_smtp_password }}'
{% endif %}
route:
  receiver: 'default'
  group_by: ['cluster', 'alertname']
  routes:
    - matchers:
        - namespace="esp-job-test-application"
      receiver: 'esp-team'
receivers:
  - name: 'default'
{% if alerting_email_enabled | bool %}
    email_configs:
      - to: '{{ alerting_email_default_to }}'
        send_resolved: true
{% endif %}
{% if alerting_webhook_enabled | bool %}
    webhook_configs:
      - url: '{{ alerting_webhook_url }}'
        send_resolved: true
{% endif %}
  - name: 'esp-team'
{% if alerting_email_enabled | bool %}
    email_configs:
      - to: '{{ alerting_email_esp_to }}'
        send_resolved: true
{% endif %}
{% if alerting_webhook_enabled | bool %}
    webhook_configs:
      - url: '{{ alerting_webhook_url }}'
        send_resolved: true
{% endif %}
