---
- name: Verify that the openshift-gitops namespace exists
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Namespace
    name: "{{ odf_argocd_namespace }}"
  register: gitops_ns
  failed_when: gitops_ns.resources | length == 0

- name: Grant ArgoCD Application Controller cluster-admin permissions
  kubernetes.core.k8s:
    state: present
    template: argocd-rbac.yaml.j2

- name: Create the OpenShift GitOps Application for ODF
  kubernetes.core.k8s:
    state: present
    template: odf-argocd-app.yaml.j2