apiVersion: v1
kind: Secret
metadata:
  name: {{ custom_cert_secret_name }}
  namespace: openshift-ingress
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', custom_cert_path) | b64encode }}"
  tls.key: "{{ lookup('file', custom_key_path) | b64encode }}"